*{
    margin: 0;
    font-family: poppins, sans-serif;
    border: border-box;
    text-decoration: none;
}

/* box-1 */

.navbar{
    display: flex;
    height: 60px;
    background-color: #0f1111;
    color:white;
    align-items: center;
    justify-content: space-evenly;
   
}

.nav-logo{
    height: 50px;
    width: 110px;
}

.logo{
    background: url("images/amazon_logo.png");
    background-size: cover;
    height: 50px;   
    width: 100%;
    cursor: pointer;
}

.border{
    border: 2px  solid transparent;
}

.border:hover{
    border: 1.5px solid white;
   
}

/* box-2 */

.nav-address{
    padding: 9px;
    cursor: pointer;
}

.add-top{
    color: #cccccc;
    font-size: .85rem;
    margin-left: 25px;

}

.add-bottom{
    font-size: .9rem;
    margin-left: 3px;
    font-weight: 700;
}

.add-icon{
    display: flex;
    align-items: center;
}

.add-icon i{
    font-size: 1.2rem;
}
    
/* box-3 */


.nav-search{
    display: flex;
    background-color: #febd69;
    width: 900px;
    height: 40px;
    border-radius: 4px;
    justify-content: space-evenly;
    border: none;
}

.nav-search:hover{
    padding: 1px;
}

.search-select{
    background-color:rgb(204, 204, 204);
    width: 55px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px ;
    border: none;
}

.search-input{
    width:100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: #febd69;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
    border: none;
}

* :focus{
outline: none;
}

.nav-search:hover{
  border: 2px solid orange;
}
/* box-4 */

.nav-signin{
    padding: 9px ;
    cursor: pointer;
}
span{
    font-size: 0.8rem;
}

.nav-return{
    padding: 9px ;
    cursor: pointer;
}

.nav-bottom{
    font-size: 0.9rem;
    font-weight: 700;
}

/* box-6 */

.nav-lang{
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 2px;
    cursor: pointer;
}

.nav-lang img{
    height: 14px;
    width:22px;
    margin-right: 5px;
    padding-left: 4px;
}

.select-lang{
    font-size: 1rem;
    font-weight: 700;
    background-color: #0f1111;
    color: white;
    border: none;
    cursor: pointer;
}

/* box-7 */


.nav-cart i{
    font-size: 35px;
}
.nav-cart {
    
   
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;

}

.nav-cart p{
    padding-top: 10px;
    font-size: .9rem;
    font-weight: 700;
}

.link{
    height:40px;
    background-color: #222f3d;
    color:white;
    display: flex;
    justify-content: start;
    align-items: center;
    
}

.link-all i{
    font-size:1.5rem;
}

.link-all{
    display: flex;
    align-items: center;
    font-size: .9rem;
    font-weight: 700;
    margin-left: 15px;
    cursor: pointer;

    
}
.link-all p{
   padding: 6px;
}

.link-ops{
    width: 70%;
    font-size: .9rem;
    font-weight: 500;
    margin-left: 10px;
}


.link-ops p{
    display: inline;
    padding: 6px;
    margin-left: 5px;
    cursor: pointer;

}




/* hero-section */

#hero{
    background-color:rgb(225, 223, 223) ;
}

.hero-section{
    background-image: url(images/hero_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 280px;
    display: flex;
justify-content: center;
align-items: flex-end;
margin-left: 90px;
margin-right: 90px;
    

}

.hero-msg{
    background-color: #f5f6f6;
    color: #0f1111;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .9rem;
    width: 96%;
    margin-bottom: 3px;
  
   
   
}

.hero-msg a{
    color:#007185;
    font-weight: 600;
    cursor: pointer;
  
}
.hero-msg a:hover{
    color:#f1951c
}

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-image: linear-gradient(rgb(254, 217, 237), rgb(225, 223, 223));
    margin-left: 90px;
    margin-right: 90px;
  
}
.box{
    height: 380px;
    width: 23%;
    background-color: white;
    padding: 20px 0 15px;
    margin-top: 1.5rem;
}

.box-img{
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.box-img:hover{
    cursor: pointer;
}

.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: .9rem;
}

.box-content a{
    color: #007185;
    font-weight: 600;
}

.box-content a:hover{
    color: #eb9e3a;
}


.shop-section-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 90px;
    margin-right: 90px;
}

.shop-section-3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 90px;
    margin-right: 90px;
}

.big_box{
    width: 97%;
    background-color: white;
    padding: 20px 0 15px;
    margin-top: 1.5rem;

}

.big_box h2{
    margin-left: 1rem;
}


.big_box-img{
    margin-top: 1rem;
    display: flex;
    gap: 1.6rem;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
} 

.shop-section-4{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 90px;
    margin-right: 90px;
}

.shop-section-5{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 90px;
    margin-right: 90px;

}
.shop-section-6{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 90px;
    margin-right: 90px;
}

.shop-section-6 .big_box-img{
    margin-top: 1rem;
    display: flex;
    gap: 2rem;
    margin-left: 1.8rem;
    margin-right: 1.8rem;

}

.shop-section-6 .big_box{
    width: 100%;
    background-color: white;
    padding: 20px 0 15px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

}

.bottom-first{
    background-color: white;
    height: 120px;
    font-size: .8rem;
    font-weight: 600;
    border-top: .1px solid #DDD;
    border-bottom: .1px solid #DDD ;
    margin-top: 2rem;
    margin-bottom:1.5rem;
}

.bottom-first p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
   
}
.bottom-first-top {
    color: black;
    font-size: .9rem;
    font-weight: 300;

}

.bottom-first-bottom{
    font-size:.7rem;
    font-weight: 100;

}
.bottom-first-bottom a{
    color: #007185;
    cursor: pointer;

}

.bottom-first-bottom a:hover{
    color: #f1951c;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    height: 20px;
}
.btn button{
    height: 32px;
    background-color: #febd69;
    width: 15%;;
    border:.1px solid #f1951c;
    text-shadow: rgb(255, 224, 147) 0px 1px 0px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 600;
}


/* footer */




footer{
    margin-top: 15px;
}





.footer-panel{
    background-color: #37475a;
    color:white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    font-weight: 600;
    cursor: pointer;
    
}

.footer-panel2{
    background-color: #222f3d;
    color:white;
    height:400px;
    display:flex;
    justify-content: center;
    align-items: start;
    
}

ul{
    margin-top:20px;
    margin-left: 30px;
    margin-right: 30px;
}

ul p{
    font-weight: 600;
    margin-top: 30px;
}

ul a{
    display: block;
    color:white;
    font-size: .9rem;
    margin-top: 10px;
    color:#dddddd;
    cursor: pointer;
}
ul a:hover{

    text-decoration: underline;
}

.footer-panel3{
    background-color: #222f3d;
    border-top: .1px solid rgb(58, 69, 83);
    
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.logo2{
    background-image: url("images/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
    margin-right: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    cursor: pointer;

}
.footer-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    cursor: pointer;

}

.footer-buttons-left{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #848688;
    padding: 10px;
    gap:10px;
    color:#dddddd;
    font-size: .8rem;
    margin-right: 1rem ;
}
.footer-buttons-left i{
    font-size: 1.2rem;
}

.footer-buttons-left .arrow{
    font-size: 15px;
    margin-left: 1rem;

}

.footer-buttons-right{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #848688;
    padding: 12px;
    gap:10px;
    color:#dddddd;
    font-size: .8rem;
    margin-right: 1rem ;

}
.footer-buttons-right img{
    height: 12px;
    width:20px;
    margin-right: 5px;
    padding-left: 4px;
}

.footer-panel4{
    background-color: rgb(19, 26, 34);
    color:rgb(221, 221, 221);
    font-size: .8rem;
   padding-top: 30px;
   padding-bottom: 30px;
   width: 100%;
 
    
}

tr{
    vertical-align: text-top;
}
.row-gap{
   padding-left: 10px;
   padding-right: 10px;
}

.panel4-links{
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.panel4-desc{
    padding-left: 9px;
    padding-right: 9px;
    text-align: left;
    cursor: pointer;
}

.panel4-desc:hover{
    text-decoration: underline;
}

.desc-text{
    font-size: .8rem;
    color: rgb(153, 153, 153);
    
}


.desc-text:hover{
    text-decoration: underline;
    text-decoration-color:rgb(153, 153, 153) ;
}
.navFooterDescSpacer{
    padding-left: 10px;
    padding-right: 10px;
}

.footer-ending{
    background-color:rgb(19, 26, 34) ;
    color:rgb(221, 221, 221);
    height: 80px;
    font-size: .8em;
    text-align: center;
    padding-bottom: 10px;
}
.pages{
   padding-top: 25px;
}
.pages a{
    color:rgb(221, 221, 221) ;
    padding-left: 20px;
    cursor: pointer;
    
}

.pages a:hover{
    text-decoration: underline;
    text-decoration-color: rgb(221, 221, 221);
}

.copyright{
    padding-top: 5px;
   
}




